.select {
  border: none;
  border-radius: 8px;
  width: 262px;
  height: 38px;
  padding: 0 12px;

  background-color: #f4f4f5;

  &:focus {
    outline: none;
  }

  &:valid {
    font-size: 14px;
    color: #a1a1aa;
  }

  & option:first-child {
    display: none;
  }

  @media (max-width: 1024px) {
    border-radius: 4px;
    width: 240px;
    height: 28px;
    padding: 8px;

    &:valid {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
