.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  border-radius: 100px;
  height: 44px;
  padding: 12px 24px;

  background-color: #5556ff;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #fff;

  @media (max-width: 1024px) {
    padding: 4px 12px;
    gap: 4px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
}
